!!!
html(ng-app="App")
  head
    meta(Content-Type='application/x-javascript',charset='utf8')
    base(href='/')
    title Paperizer
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block body